body {
	background-color: white;
	font-family: "Helvetica";
}
/*Hiermee wordt het logo opgemaakt*/
nav {
	width: 99px;
	height: 84px;
	position: absolute;
	top: 20px;
	left: 651px;
}
#logo {
	width: 99px;
	height: 84px;
}
/*Hier wordt er bepaald wat er moet gebeuren als
de muis over het logo gaat*/
#logo:hover {
	content: url('LogoHover.jpg');
    width: 99px;
    height: 84px;
 }
/*Hiermee wordt de header opgemaakt*/
header {
	width: 1064px;
	height: 226px;
	position: absolute;
	top: 120px; 
	left: 169px;
}
/*Hiermee wordt de hoofdsectie opgemaakt*/
section {
	width: 1064px;
	height: 557px;
	position: absolute;
	top: 363px;
	left: 169px;
	border: 1px solid black;
	border-radius: 11px;
}
h1 {
	color: #8C002B;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
h2 {
	width: 495px;
	height: 24px;
	color: #9C9B9B;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 30px 0px 0px 285px;
}
/*Hiermee worden de koppen van de tabellen opgemaakt
en gepostioneerd*/
section h3 {
	color: #8C002B;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 94px;
	left: 160px;
	margin: 0px;
}
#headopeningstijden {
	top: 331px;
	left: 187px;
	margin: 0px;
}
#belangrijkeinfo {
	top: 94px;
	left: 713px;
	margin: 0px;
}
#locatie {
	top: 331px;
	left: 711px;
	margin: 0px;
}
/*Hiermee wordt de tabel met bestelgegevens gepostioneerd
en wordt de opmaak van andere tabellen vastgelegd opgemaakt*/
table {
	position: absolute;
	top: 131px;
	left: 92px;
	font-size: 16px;
	color: #333333;
	width: 349px;
	height: 152px;
}
th {
	padding: 0px;
	vertical-align: text-top;
	width: 142px;
	height: 19px;
	text-align: right;
	font-weight: normal;
}
td {
	padding: 0px;
	vertical-align: text-top;
	width: 197px;
	height: 19px;
	text-align: left;
}
/*Hiermee wordt de tabel met openingstijden gepositioneerd
en de afmetingen bepaald*/
#openingstijden {
	top: 367px;
	left: 167px;
	width: 199px;
	height: 135px;
}
#openingstijden th {
	width: 89px;
	height: 19.5px;
}
#openingstijden td {
	width: 100px;
	height: 19.5px;
}
section ul {
	position: absolute;
	top: 131px;
	left: 566px;
	font-size: 16px;
	color: #333333;
	width: 464px;
	height: 133px;
	margin: 0px;
	padding: 0px;
}
/*Hiermee worden de afmetingen van de google maps kaart bepaald
en wordt ook de positie ervan bepaald.*/
iframe {
	position: absolute;
	top: 367px;
	left: 649px;
	width: 300px;
	height: 150px;
	border: 1px solid #777777;
}
/*Hiermee wordt de sectie van de carrousel opgemaakt*/
.tijdschema {
	width: 1064px;
	height: 327px;
	position: absolute;
	top: 937px;
	left: 169px;
	border: 1px solid #777777;
	border-radius: 11px;
}
/*Hiermee wordt de h1 opgemaakt die aangeeft bij welke maand je bent*/
.tijdschema h1 {
	width: auto;
	height: 47px;
	top: 0px;
	left: 170px;
	background-color: #8C002B;
	color: white;
	font-size: 19px;
	font-weight: bold;
	margin: 0px;
	padding-top: 12px;
	text-align: center;
	border-top-right-radius: 11px;
	border-top-left-radius: 11px;
}
/*Hiermee worden de voorstellingen gepositioneerd en de afmetingen bepaald*/
.maanden * {
	box-sizing: border-box;
}
.maanden-container {
	overflow-x: hidden;
	width: 100%;
}
.dagen {
	overflow-x: auto;
}
.dagen div {
	min-width: 300px;
}
.dagen img {
	width: 355px;
	height: 207px;
}
/*Hier wordt de voorstellingsinfo opgemaakt*/
div h2 {
	color: #8C002B;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 11px 0px 0px 106px;
	width: 141px;
	height: 48px;
}
div span {
	font-size: 16px
}
/*Hiermee worden de buttons van de carrousel opgemaakt*/
button {
	position: absolute;
	top: 47px;
	padding: 0px;
	border: 0px;
	height: 207px;
	background-color: rgba(134,134,134,0.65);
}
.rechts {
	left: 1032px;
}
/*Hiermee wordt er bepaald hoe de buttons moeten reageren wanneer erop
geklikt wordt of iemand er met de muis overheen gaat*/
button:hover {
	background-color: rgba(134,134,134,0.95);
}
button:active, button:focus {
	outline: none;
}
/*Hiermee wordt het hoofdmenu opgemaakt*/
#menu {
	width: 1064px;
	height: 89px;
	position: absolute;
	top: 1281px;
	left: 169px;
}
#aboutus, #fotoboek, #lidworden, #huren {
	margin-right: 1px;
}
nav ul {
	display: inline-block;
	list-style: none;	
	padding: 0;
	margin: 0;
	text-align: center;
}
nav li {
	float: left;
	background-color: #2E011B;
	display: inline-block;
	border-radius: 5px;
	width: 354px;
	height: 44px;
}
nav a {
	line-height: 2.7;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
/*Hiermee wordt de icoontjes van de menuknoppen gepostioneerd*/
#aboutusicon {
	position: absolute;
	left: 69px;
	top: 9px;
	width: 27px;
	height: 27px;
}
#fotoboekicon{
	position: absolute;
	left: 418px;
	top: 11px;
	width: 30px;
	height: 23px;
}
#nieuwsbrieficon {
	position: absolute;
	left: 767px;
	top: 5px;	
	width: 36px;
	height: 32px;
}
#lidwordenicon {
	position: absolute;
	left: 69px;
	top: 56px;	
	width: 27px;
	height: 27px;
}
#hurenicon {
	position: absolute;
	left: 418px;
	top: 55px;	
	width: 30px;
	height: 30px;
}
#archieficon {
	position: absolute;	
	left: 770px;
	top: 53px;
	width: 33px;
	height: 32px;
}
/*Hier wordt er bepaald wat er moet gebeuren als
de muis over een menuitem gaat en als erop geklikt wordt*/
nav li:hover {
	background-color: #da0043;
	text-shadow: 2px 2px 4px rgba(0,0,0,8.9)
}
nav li:active {
	-webkit-box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.35);
	box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.35);
	text-shadow: none;
}
/*Hiermee wordt de footer opgemaakt*/
footer {
	position: absolute;
	top: 1386px;
	left: 169px;
	background-color: #8C002B;
	width: 1064px;
	height: 213px;
	border: 1px solid white;
	border-radius: 0px 0px 11px 11px;
}
footer div {
	width: 423px;
	height: 69px;
	position: absolute;
}
footer h3 {
	margin-top: 12px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
/*Hiermee worden de socialmedia logos opgemaakt*/
#instagram {
	width: 75px;
	height: 69px;
	position: absolute;
	top: 85px;
	left: 321px;
	box-shadow: 7px 7px 5px rgba(0,0,0,0.3);
	border-radius: 19px;
}
#facebook {
	width: 75px;
	height: 69px;
	position: absolute;
	top: 85px;
	left: 500px;
	box-shadow: 7px 7px 5px rgba(0,0,0,0.3);
	border-radius: 19px;
}
#twitter {
	width: 75px;
	height: 69px;
	position: absolute;
	top: 85px;
	left: 669px;
	box-shadow: 7px 7px 5px rgba(0,0,0,0.3);
	border-radius: 19px;
}
/*Hiermee wordt het copyright van Imperium opgemaakt en gepositioneerd*/
#copyright {
	font-size: 14px;
	color: #990000;
	width: 160px;
	height: 17px;
	position: absolute;
	top: 1624px;
	left: 621px;
	margin: 0px;
}